@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kumbh+Sans:wght@300;400;500;600;700&family=Oxygen:wght@300;400&display=swap');

:root {
	--primary-color: #97144d;
	--dark: rgb(54, 52, 53);
}

*,
*::after,
*::before {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
	border: none;
	outline: none;
}

a {
	text-decoration: none;
	color: black;
}

body {
	background-color: whitesmoke;
	min-height: 100vh;
}

.flex-row {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: start;
	gap: 0.5rem;
}

.login-header {
	text-align: center;
	font-weight: 600;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}


body {
	display: flex;
	flex-direction: column;
}

body>section {
	flex: 1 !important;
}

.layout>div {
	width: 100%;
	overflow-x: hidden;
}

.fix-width {
	width: 100%;
	overflow-x: auto;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border-radius: 12px;
	box-shadow: 0px 5px 15px rgba(180, 180, 180, 0.5);
	padding: 2rem 1rem !important;
	background-color: white;
	width: 100%;
}

.login--main {
	position: relative;
}

.login-form {
	position: absolute;
	width: 100%;
	top: 3rem;
}

.login-form>section {
	padding: 1rem 5rem;
}

.login-img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	object-position: right bottom;
}

.heading {
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

.input-div {
	padding: 0.25rem;
	padding-inline: 0.5rem;
	border: 2px solid #D1D5DB;
	background-color: transparent;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 6px;
}

.input-div input {
	border: none !important;
}

a:hover {
	color: var(--primary-color);
}

table a:hover {
	text-decoration: underline;
}

input,
textarea {
	width: 100%;
}

input:focus {
	outline: none !important;
}

.bg-primary {
	background-color: var(--primary-color) !important;
}

.text-primary {
	color: var(--primary-color) !important;
}

button,
.button {
	background: var(--primary-color) !important;
	color: white !important;
	padding: 0.75rem 0.8rem !important;
	border-radius: 6px;
	margin-block: 0.5rem !important;
	text-transform: uppercase;
}

table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

table td,
table th {
	border: 1px solid #ddd;
	padding: 0.5rem;
	white-space: nowrap;
}

table td,
table th,
table a {
	font-size: 0.95rem !important;
}

table tr:nth-child(even) {
	background-color: #f2f2f2;
}

table tr:hover {
	background-color: #ddd;
}

table th {
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	text-align: left;
	background-color: var(--primary-color);
	color: white;
}

.layout {
	display: flex;
}

.layout>div {
	padding: 1rem;
	flex: 1;
}

nav {
	background-color: var(--dark);
	color: white;
	overflow: hidden;
	transition: all 0.3s ease;
	position: fixed;
	min-width: 100vw;
	top: 0;
	min-height: 100vh;
}

nav[data-open="open"] {
	transform: translateX(0%);
}

nav[data-open="close"] {
	transform: translateX(-100%);
}

#nav-menu-close-btn,
#nav-menu-btn {
	display: block;
	padding: 0 !important;
}

#nav-menu-btn:before {
	font-size: 1rem;
}

@media only screen and (min-width: 768px) {

	#nav-menu-close-btn,
	#nav-menu-btn {
		display: none;
	}

	nav {
		position: relative;
		min-height: 91vh !important;
		min-width: 170px;
		width: 170px;
	}

	nav[data-open="open"] {
		transform: translateX(0%);
	}

	nav[data-open="close"] {
		transform: translateX(0%);
	}

}

nav ul {
	width: 100% !important;
}

nav ul li {
	display: flex;
	flex-direction: column;
}

.nav-link {
	width: 100%;
	padding: 0.4rem 0.5rem;
	transition: padding 300ms ease-out;
	color: white;
}

.logo {
	color: white;
	font-weight: 600;
	font-size: 1.2rem;
	width: min-content;
}

.nav-link:hover {
	background-color: white;
	box-shadow: -5px 0px var(--primary-color) inset;
	padding: 0.4rem 0.8rem;
}

.login-form-grid {
	display: grid;
	padding: 5rem 8rem;
	grid-template-columns: repeat(2, 1fr);
}

.header {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.header>a {
	width: 100%;
}

.group-link-label {
	font-weight: bold;
	padding: 0.5rem;
	border-block: white solid 1px;
}

.nav-link,
.group-link-label {
	white-space: nowrap;
}

.logout-btn {
	background-color: white !important;
	color: var(--primary-color) !important;
	font-weight: 600;
	font-size: 0.95rem;
	margin-block: 0rem !important;
}

input,
textarea,
select {
	outline: none;
	border: none;
	padding-block: 0.35rem !important;
	background-color: transparent;
	padding: 0.25rem;
	padding-inline: 0.5rem;
	border-bottom: 2px solid #D1D5DB;
	background-color: transparent;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	caret-color: var(--primary-color);

}

form {
	display: flex;
	flex-direction: column;
	gap: 0.875rem;
}

form label {
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 0.875rem;
	flex-wrap: wrap;
	gap: 0.5rem;
}

form label span {
	width: max-content;
	min-width: 150px;
	font-weight: 400;
	color: rgb(109, 109, 109) !important;
}

.toast {
	padding: 0.875rem 1rem;
	border-radius: 6px;
	border: 1px;
	color: white;
	margin-bottom: 1rem;
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	width: fit-content;
	animation: animate-toast forwards 300ms;
	position: relative;
	transition: all 300ms ease-out;
}

.logo {
	object-fit: contain;
	width: 15%;
}

@keyframes animate-toast {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toast-success {
	background-color: green;
}

.toast-danger {
	color: red;
}

.ac-section {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	margin-top: 1rem;
}

.ac-card {
	padding: 1.2rem 1rem;
	min-width: 240px;
	border-radius: 8px;
	border: 1px solid #D1D5DB;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
	gap: 0.5rem;
	border-left: 4px solid var(--primary-color);
}

.ac-card h2 {
	font-size: 1.2rem;
}

.ac-card p {
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.ac-card p,
.ac-card span {
	font-size: 0.85rem;
	color: rgb(44, 48, 54);
	text-transform: capitalize;
}

.ac-card span {
	border-radius: 32px;
	color: white;
	padding: 0.4rem 0.75rem;
	font-size: 0.75rem;
	text-transform: uppercase;
}

.ac-card span[data-status="PROCESSING"] {
	background-color: rgb(255, 198, 2);
}

.ac-card span[data-status="ACTIVE"] {
	background-color: green;
}

.ac-card span[data-status="INACTIVE"] {
	background-color: var(--dark);
}

.ac-card span[data-status="BLOCKED"] {
	background-color: red;
}

.ac-info-card {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.ac-info-card .ac-balance {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.ac-info-card>div:nth-child(1) p {
	font-size: 1rem;
}

[data-type="Send"] {
	color: red;
	font-weight: 500;
}

[data-type="Received"] {
	color: green;
	font-weight: 500;
}

.pagination {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.page-number {
	padding: 0.5rem 0.75rem;
	outline: 1px solid #D1D5DB;
	border-radius: 4px;
}

.current-page,
.current-page:hover {
	background: var(--primary-color);
	color: white;
}

#transactions {
	padding-block: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#transactions h2 {
	font-size: 1.25rem;
}



.ac-info-card>div:nth-child(2) {
	text-align: right;
}

.ac-info-card>div>* {
	margin-block: 0.25rem;
}

#branch-min-balance[data-show="false"] {
	visibility: hidden;
}

#branch-min-balance[data-show="true"] {
	visibility: visible;
}

@media only screen and (min-width: 768px) {
	.ac-card {
		flex-basis: 50%;
	}
}

@media only screen and (min-width: 1000px) {
	.ac-card {
		flex-basis: 20%;
	}
}

@media only screen and (max-width: 1000px) {
	* {
		font-size: 32px;
	}
}

@media only screen and (max-width: 1024px) {

	.header {
		padding: 0.5rem 1rem;
	}

	.login-form-grid {
		grid-template-columns: repeat(1, 1fr);
	}

	.container {
		box-sizing: border-box;
		display: flex;
		width: 100% !important;
		max-width: 100% !important;
		flex-direction: column;
		gap: 1rem;
		margin: 0rem;
		margin-left: 0rem;
		border-radius: 1rem;
		box-shadow: 0px 5px 15px rgba(180, 180, 180, 0.5);
		padding: 1.2rem 1rem !important;
	}

	.ac-info-card>div:nth-child(2) {
		text-align: left;
	}

	.ac-info-card {
		border-left: 6px solid var(--primary-color);
	}

	.logo {
		font-size: 1rem;
		width: 50%;
	}

	.login_main {
		position: relative;
		height: 100vh;
	}

	.login-form {
		bottom: 0;
		width: 100%;
		padding: 1rem;
	}

	.login-form>section {
		padding: 0rem;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}

	.login-img {
		width: 100%;
		height: 100vh;
		object-fit: cover;
		object-position: right bottom;
	}
}